#clk(GPIO0) and we(GPIO1) signals
Net "clk" LOC="A10" | IOSTANDARD = LVCMOS33;
Net "we" LOC="E11" | IOSTANDARD = LVCMOS33;

#address signals (GPIO2 to GPIO5)
Net "address[0]" LOC="E10" | IOSTANDARD = LVCMOS33;
Net "address[1]" LOC="D10" | IOSTANDARD = LVCMOS33;
Net "address[2]" LOC="E9"  | IOSTANDARD = LVCMOS33;
Net "address[3]" LOC="A9" | IOSTANDARD = LVCMOS33;

#data_in signals (GPIO6 to GPIO9)
Net "data_in[0]" LOC="D9" | IOSTANDARD = LVCMOS33;
Net "data_in[1]" LOC="E8" | IOSTANDARD = LVCMOS33;
Net "data_in[2]" LOC="C8" | IOSTANDARD = LVCMOS33;
Net "data_in[3]" LOC="D8" | IOSTANDARD = LVCMOS33;

#data_out signals (GPIO10 to GPIO13)
Net "data_out[0]" LOC="F9" | IOSTANDARD = LVCMOS33;
Net "data_out[1]" LOC="A7" | IOSTANDARD = LVCMOS33;
Net "data_out[2]" LOC="D7" | IOSTANDARD = LVCMOS33;
Net "data_out[3]" LOC="E7" | IOSTANDARD = LVCMOS33;

#Leds
Net "leds[0]" LOC="C11" | IOSTANDARD = LVCMOS33;
Net "leds[1]" LOC="D11" | IOSTANDARD = LVCMOS33;
Net "leds[2]" LOC="B11" | IOSTANDARD = LVCMOS33;
Net "leds[3]" LOC="A12" | IOSTANDARD = LVCMOS33;
Net "leds[4]" LOC="A13" | IOSTANDARD = LVCMOS33;
Net "leds[5]" LOC="B13" | IOSTANDARD = LVCMOS33;
Net "leds[6]" LOC="A14" | IOSTANDARD = LVCMOS33;
Net "leds[7]" LOC="B14" | IOSTANDARD = LVCMOS33;